<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">StockWatch</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
        <div angucomplete-alt
             placeholder="Search stock codes"
             pause="500"
             remote-url="/api/stockwatch/stockdata/"
             title-field="companyName"
             selected-object="model.selectedObject"
             minlength="2"
             input-class="form-control form-control-small"
             match-class="highlight"
             on-select="model.getStockData">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder lightGrey">
                    <h4>Low</h4>
                    <span class="text-muted red" ng-show="model.low">{{model.low}}</span>
                    <span class="text-muted red" ng-show="!model.low">N/A</span>

                </div>
                <div class="col-xs-6 col-sm-3 placeholder darkGrey">
                    <h4>High</h4>
                    <span class="text-muted green" ng-show="model.high">{{model.high}}</span>
                    <span class="text-muted red" ng-show="!model.low">N/A</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder lightGrey">
                    <h4>Index</h4>
                    <span class="text-muted" ng-show="model.indexValue">{{model.indexValue}}</span>
                    <span class="text-muted red" ng-show="!model.indexValue">N/A</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder darkGrey">
                    <h4>TotalMarket</h4>
                    <span class="text-muted" ng-show="model.totalMarketValue">{{model.totalMarketValue}}</span>
                    <span class="text-muted red" ng-show="!model.totalMarketValue">N/A</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"> {{model.code}}</div>
                <div class="panel-body">
                    <div id="chartContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>
