<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
                    <!--aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#/home"><i class="fa fa-industry" aria-hidden="true"></i>-->
                <!--&nbsp;Stock Watch</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/login" ng-if="model.currentUser">Logout</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/home">Home</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/about">About</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/login" ng-if="!model.currentUser">Login</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/login" ng-if="model.currentUser">{{model.currentUser.username}}</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/user/{{model.User._id}}/circle" ng-if="model.currentUser">Circle</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/user/{{model.User._id}}/portfolio" ng-if="model.currentUser">Portfolio</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/user/{{model.User._id}}/opinion" ng-if="model.currentUser">Opinion</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 search">
            <div angucomplete-alt
                 placeholder="Enter company name.."
                 pause="500"
                 remote-url="/api/stockwatch/stockdata/"
                 title-field="companyName"
                 selected-object="model.selectedObject"
                 minlength="2"
                 input-class="form-control form-control-small"
                 match-class="highlight"
                 on-select="model.getStockData">
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading indicator">Low</div>
                <div class="panel-body indicator">
                    <span class="text-muted red" ng-show="model.low">{{model.low}}</span>
                    <span class="text-muted red" ng-show="!model.low">N/A</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-primary ">
                <div class="panel-heading indicator">High</div>
                <div class="panel-body indicator">
                    <span class="text-muted green" ng-show="model.high">{{model.high}}</span>
                    <span class="text-muted green" ng-show="!model.high">N/A</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading indicator">Index</div>
                <div class="panel-body indicator">
                    <span class="text-muted" ng-show="model.indexValue">{{model.indexValue}}</span>
                    <span class="text-muted red" ng-show="!model.indexValue">N/A</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading indicator">Volume</div>
                <div class="panel-body indicator">
                    <span class="text-muted" ng-show="model.totalMarketValue">{{model.totalMarketValue}}</span>
                    <span class="text-muted red" ng-show="!model.totalMarketValue">N/A</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"> Timeline - {{model.companyName}}</div>
                    <div class="panel-body">
                        <div id="chartContainer1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"> Candle Stick - {{model.companyName}}</div>
                    <div class="panel-body">
                        <div id="chartContainer2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
