<div ng-include src ="'views/header/header.view.client.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-user" aria-hidden="true"></i> Login
            </h1>
        </div>
    </div>
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        {{model.Error}}
    </div>
    <div class="ng-form" name="loginForm">
        <input ng-model="username"
               name="username"
               type="text"
               class="form-control {{model.SubmittedClass}}"
               placeholder="username"
               autocorrect="off"
               autocapitalize="off"
               required/>
        <input ng-model="password"
               name="password"
               type="password"
               class="form-control {{model.SubmittedClass}}"
               placeholder="password" required/>
        <div class="row">
            <div class="col-lg-6 col-sm-12 loginLinks">
                <button class="btn btn-primary btn-block" ng-click="model.login(username, password)">Login</button>
            </div>
            <div class="col-lg-6 col-sm-12 loginLinks">
                <a class="btn btn-success btn-block" href="#/register">Register</a>
            </div>
            <div class="col-lg-6 col-sm-12 loginLinks">
                <a class="btn btn-primary btn-block" href="/auth/stockwatch/facebook">
                    <span class="fa fa-facebook-official"></span>
                    Facebook
                </a>
            </div>
            <div class="col-lg-6 col-sm-12 loginLinks">
                <a class="btn btn-danger btn-block" href="/auth/stockwatch/google">
                    <span class="fa fa-google"></span>
                    Google
                </a>
            </div>
        </div>
    </div>
</div>
