<div ng-include src ="'views/header/header.view.client.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-user" aria-hidden="true"></i> {{model.User.username}}
            </h1>
        </div>
    </div>
    <div ng-if="model.Success" class="alert alert-success" role="alert">
        <a class="alert-link">{{model.Success}}</a>
    </div>
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        <a class="alert-link">{{model.Error}}</a>
    </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Profile Details
                            <a class="pull-right"
                               ng-click="model.UpdateUser(model.User)">
                            <span class="white glyphicon glyphicon-ok">
                      </span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input ng-model="model.User.username"
                                           type="text"
                                           class="form-control"
                                           id="username"
                                           placeholder="Alice"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label for="emailaddress">Email address</label>
                                    <input type="email"
                                           ng-model="model.User.email"
                                           class="form-control {{model.SubmittedClass}}"
                                           id="emailaddress"
                                           placeholder="alice@gmail.com" required>
                                </div>
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input ng-model="model.User.firstName"
                                           type="text"
                                           class="form-control {{model.SubmittedClass}}"
                                           id="firstName"
                                           placeholder="Alice"
                                    required>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input ng-model="model.User.lastName"
                                           type="text"
                                           class="form-control {{model.SubmittedClass}}"
                                           id="lastName"
                                           placeholder="Wonderland"
                                    required>
                                </div>
                                <div class="form-group">
                                    <label>User Type</label><br/>
                                    <label class="radio-inline"><input type="radio" ng-model="model.User.type" value="expert"
                                                      name="optradio">Expert</label>
                                        <label class="radio-inline"><input type="radio" ng-model="model.User.type"
                                                      value="investor" name="optradio">
                                            Investor</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-circle-thin" aria-hidden="true"></i>
                            Experts in Circle
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6" ng-repeat="u in model.User.circle">
                                <a href="#/user/{{model.userInCircle[u]}}"><h4><i class="fa fa-user" aria-hidden="true"></i> {{u}}</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>


