<div ng-include src ="'views/header/header.view.client.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-user" aria-hidden="true"></i> {{model.User.username}}
            </h1>
        </div>
    </div>
    <div ng-if="model.Success" class="alert alert-success" role="alert">
        <a class="alert-link">{{model.Success}}</a>
    </div>
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        <a class="alert-link">{{model.Error}}</a>
    </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Profile Details
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td><h4>username</h4></td>
                                        <td><h4>{{model.User.username}}</h4></td>
                                    </tr>
                                    <tr>
                                        <td><h4>email</h4></td>
                                        <td><h4>{{model.User.email}}</h4></td>
                                    </tr>
                                    <tr>
                                        <td><h4>First Name</h4></td>
                                        <td><h4>{{model.User.firstName}}</h4></td>
                                    </tr>
                                    <tr>
                                        <td><h4>Last Name</h4></td>
                                        <td><h4>{{model.User.lastName}}</h4></td>
                                    </tr>
                                    <tr>
                                        <td><h4>User Type</h4></td>
                                        <td><h4>{{model.User.type}}</h4></td>
                                    </tr>
                                </table>
                                <div/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i> Experts in Circle
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6" ng-repeat="u in model.CircleUsers">
                            <a href="#/user/{{u._id}}"><h5><i class="fa fa-user" aria-hidden="true"></i> {{u.username}}</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

