<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-user" aria-hidden="true"></i> {{model.User.username}}
            </h1>
        </div>
    </div>
    <div ng-if="model.Success" class="alert alert-success" role="alert">
        <a class="alert-link">{{model.Success}}</a>
    </div>
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        <a class="alert-link">{{model.Error}}</a>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-exchange fa-fw"></i> Profile Details
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td>Username</td>
                                        <td>{{model.User.username}}</td>
                                    </tr>
                                    <tr>
                                        <td>email Address</td>
                                        <td>{{model.User.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>First Name</td>
                                        <td>{{model.User.firstName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Last Name</td>
                                        <td>{{model.User.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <td>User Type</td>
                                        <td>{{model.User.type}}</td>
                                    </tr>
                                </table>
                                <div/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-exchange fa-fw"></i> Experts in Circle
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6" ng-repeat="u in model.User.circle">
                            <a href="#/user/{{u._id}}"><h4>{{u}}</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

