<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">StockWatch</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-if="!model.currentUser">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-if="model.currentUser">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user/{{model.User._id}}/circle" ng-if="model.currentUser">Circle</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-if="model.currentUser">{{model.currentUser.username}}</a></li>
            </ul>
        </div>
    </div>
</nav><div class="container">
    <div ng-if="model.Success" class="alert alert-success" role="alert">
        <a class="alert-link">{{model.Success}}</a>
    </div>
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        <a class="alert-link">{{model.Error}}</a>
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.User.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Alice"
            disabled>
        </div>
        <div class="form-group">
            <label for="emailaddress">Email address</label>
            <input type="email"
                   class="form-control"
                   id="emailaddress"
                   placeholder="alice@gmail.com">
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input ng-model="model.User.firstName"
                    type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input ng-model="model.User.lastName"
                    type="text"
                   class="form-control"
                   id="lastName"
                   placeholder="Wonderland">
        </div>
        <div class="form-group">
            <div class="radio">
                <label><input type="radio" ng-model="model.User.type" value="expert" name="optradio">Expert</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="model.User.type" value="investor" name="optradio">Investor</label>
            </div>
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       ng-click="model.UpdateUser(model.User)">
        Save
    </a>
    <a class="btn btn-primary btn-block"
       href="#/user/{{model.User._id}}/website">
        Portfolio
    </a>
    <a class="btn btn-danger btn-block"
       ng-click = "model.Logout()">
        Logout
    </a>
    <a class="btn btn-danger btn-block"
       ng-click="Profile.Unregister()">
        Unregister
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>
