<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Register</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        {{model.Error}}
    </div>

    <input type="text"
           ng-model = "user.username"
           class="form-control"
           placeholder="username"/>
    <input type="password"
           ng-model = "user.password"
           class="form-control"
           placeholder="password"/>
    <input type="password"
           ng-model="user.verifyPassword"
           class="form-control"
           placeholder="verify password"/>
    <a class="btn btn-primary btn-block" ng-click="model.CreateUser(user)">Register</a>
    <a class="btn btn-danger btn-block" href="#/user">Cancel</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text navbar-link pull-right">
            <a href="#/user/{{model.UserId}}">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </div>
    </div>
</nav>