<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                    My Circle
                </h3>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-exchange fa-fw"></i> Experts In Circle
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover" ng-repeat="u in model.User.circle">
                                <tr>
                                    <td width="80%">
                                        <a href="#/user/{{u._id}}"><h5><i class="fa fa-user" aria-hidden="true"></i> {{u}}</h5></a>
                                    </td>
                                    <td width="20%">
                                        <button class="btn btn-danger" ng-click="model.UnfollowUser($index)">
                                            <i class="fa fa-user-times" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-exchange fa-fw"></i> Available Experts
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover" ng-repeat="u in model.AvailableExperts">
                                <tr>
                                    <td width="80%">
                                        <a href="#/user/{{u._id}}"><h5><i class="fa fa-user" aria-hidden="true"></i> {{u.username}}</h5></a>
                                    </td>
                                    <td width="20%">
                                        <button class="btn btn-success" ng-click="model.FollowUser($index)">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

