<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><i class="fa fa-industry" aria-hidden="true"></i>
                &nbsp;Stock Watch</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-if="model.currentUser" ng-click="model.Logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>
                     Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-if="!model.currentUser"><i class="fa fa-sign-in" aria-hidden="true"></i>
                     Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user" ng-if="model.currentUser"><i class="fa fa-user" aria-hidden="true"></i> {{model.currentUser.username}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user/{{model.currentUser._id}}/circle" ng-if="model.currentUser"><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Circle</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user/{{model.currentUser._id}}/portfolio" ng-if="model.currentUser"><i class="fa fa-th-large" aria-hidden="true"></i> Portfolio</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user/{{model.currentUser._id}}/opinion" ng-if="model.currentUser"><i class="fa fa-quote-left" aria-hidden="true"></i> Opinion</a></li>
            </ul>
        </div>
    </div>
</nav>
