body{
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar.navbar-default.navbar-fixed-bottom{
    background-color: black;
}
.glyphicon{
    color: #428bca;
}

input.form-control{
    margin-bottom: 5px;
}

.navbar-footer{
    width: 100%;
}

.grey{
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 15px;
}