body{
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar.navbar-default.navbar-fixed-bottom{
    background-color: black;
}
.glyphicon{
    color: #428bca;
}

input.form-control{
    margin-bottom: 5px;
}

.navbar-footer{
    width: 100%;
}

.lightGrey{
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 15px;
    }

.darkGrey{
    background-color: darkgrey;
    padding-top: 5px;
    padding-bottom: 15px;
}

.green{
    color: green;
}

.red{
    color: red;
}

li{
    list-style: none;
}

.portfolioFooterHeight{
    height: 41px;
}

.angucomplete-dropdown {
overflow-y: auto;
    max-height: 200px; // your preference
}