<div ng-include src ="'views/header/header.view.client.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-user" aria-hidden="true"></i> Stock Watch
            </h1>
        </div>
    </div>
    <blockquote>
        <p>
            Stock Watch is a stock portfolio management framework. One can manage multiple portfolios and make analytical decisions for buying or selling stocks based on health of the portfolio as well as performance of the individual stock. It provides analytics of stock health for all users. Experts cast opinions about stock health which users can subscribe to. Each Stock features interactions forum that can help like minded investors to discuss and interact.
    </p>
    </blockquote>
    <!--<ul class="nav nav-tabs">-->
        <!--<li class="active"><a href="#/about#stockwatch">Stock Watch</a></li>-->
        <!--<li><a href="#/about#portfolio">Portfolio</a></li>-->
        <!--<li><a href="#/about#stock">Stock</a></li>-->
        <!--<li><a href="#/about#circle">Circle</a></li>-->
        <!--<li><a href="#/about#opinion">Opinion</a></li>-->
        <!--<li><a href="#/about#interaction">Interaction</a></li>-->
    <!--</ul>-->
    <!--<div id="stockwatch">-->
        <!--<blockquote>-->
            <!--<p>Stock Watch home page is consumes data from Quandl API and uses high charts to display stock data in four-->
                <!--formats</p>-->
        <!--</blockquote>-->
        <!--<ol class="list-group">-->
            <!--<li class="list-group-item"> Basic Time Line Chart</li>-->
            <!--<li class="list-group-item"> Candle Stick Chart with OHLC (Open, High, Low, Close) values</li>-->
            <!--<li class="list-group-item"> Step Line Chart</li>-->
            <!--<li class="list-group-item"> Area Spline Chat</li>-->
        <!--</ol>-->
    <!--</div>-->
    <div id='portfolio'>
    </div>
    <div id='stock'>
    </div>
</div>
