<div class="container">
<h1>Login</h1>
    <div ng-if="Login.Error" class="alert alert-danger" role="alert">
        {{Login.Error}}
    </div>

<input ng-model="username"
        type="text"
       class="form-control"
       placeholder="username" />
<input ng-model="password"
        type="password"
       class="form-control"
       placeholder="password" />
<a class="btn btn-primary btn-block"
       ng-click="Login.login(username, password)">Login</a>
<a class="btn btn-success btn-block"
       href="#/user">Register</a>
</div>
