<div class="container">
    <h1>Login</h1>
    <div ng-if="Login.Error" class="alert alert-danger" role="alert">
        {{Login.Error}}
    </div>
    <div class="ng-form" name="loginForm">
    <input ng-model="username"
           name="username"
           type="text"
           class="form-control {{Login.SubmittedClass}}"
           placeholder="username"
           autocorrect="off"
           autocapitalize="off"
           required/>
    <input ng-model="password"
           name="password"
           type="password"
           class="form-control {{Login.SubmittedClass}}"
           placeholder="password" required/>
    <button class="btn btn-primary btn-block" ng-click="Login.login(username, password)">Login</button>
    <a class="btn btn-success btn-block" href="#/register">Register</a>
    <a class="btn btn-primary btn-block" href="/auth/facebook">
        <span class="fa fa-facebook-official"></span>
        Facebook
    </a>
    </div>
</div>