<div class="container">
    <h1>Register</h1>
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        {{model.Error}}
    </div>
<div class="ng-form">
    <input type="text"
           ng-model = "user.username"
           class="form-control {{model.SubmittedClass}}"
           placeholder="username"
           autocorrect="off"
           autocapitalize="off" required/>
    <input type="password"
           ng-model = "user.password"
           class="form-control {{model.SubmittedClass}}"
           placeholder="password" required/>
    <input type="password"
           ng-model="user.verifyPassword"
           class="form-control {{model.SubmittedClass}}"
           placeholder="verify password" required/>
    <a class="btn btn-primary btn-block" ng-click="model.Register(user)">Register</a>
    <a class="btn btn-danger btn-block" href="#/user">Cancel</a>
</div>
</div>
