<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.UserId}}/website/{{model.WebsiteId}}/page/{{model.PageId}}/widget" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand">
                HTML Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.UpdateWidget(model.Widget)" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-model="model.Widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text navbar-link pull-right">
            <a href="#/user/{{model.UserId}}">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </div>
    </div>
</nav>