<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web App Maker</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assignment/css/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/page-list" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/widget-chooser" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/widget-heading">
          <span class="glyphicon glyphicon-cog">
          </span>
            </a>
          <span class="glyphicon glyphicon-align-justify">
          </span>
        </div>
        <h1>Gizmodo</h1>
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#">
          <span class="glyphicon glyphicon-cog">
          </span>
            </a>
          <span class="glyphicon glyphicon-align-justify">
          </span>
        </div>
        <h4>How NYC's Super Skinny Skyscrapers Stack Up Next to the World's Tallest Buildings</h4>
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/widget-image">
          <span class="glyphicon glyphicon-cog">
          </span>
            </a>
          <span class="glyphicon glyphicon-align-justify">
          </span>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Roadster_2.5_windmills_trimmed.jpg"
                     width="100%"/></img>
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#">
          <span class="glyphicon glyphicon-cog">
          </span>
            </a>
          <span class="glyphicon glyphicon-align-justify">
          </span>
        </div>
        <p>“Slenderness” is an actual term by engineers that historically describes a structure with a 1:10 or 1:12 ratio when comparing a building’s width to its height. In the last few years, newer buildings have been able to achieve even more jaw-dropping ratios. The <a href="http://gizmodo.com/heres-what-the-worlds-tallest-residential-building-will-1699055820">Nordstrom Tower</a> going up on 57th Street has a ratio of 1:23! This will make it the most slender building in the world.</p>
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/widget-youtube">
          <span class="glyphicon glyphicon-cog">
          </span>
            </a>
          <span class="glyphicon glyphicon-align-justify">
          </span>
        </div>
        <iframe width="100%" src="https://www.youtube.com/embed/F5vqupbtEGE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="jga-widget-tool">
        <a href="#">
          <span class="glyphicon glyphicon-cog">
          </span>
        </a>
          <span class="glyphicon glyphicon-align-justify">
          </span>
    </div>
    <p>"The frequency of both heat waves and severe heat waves has increased, particularly in the last two decades. The reasons could be related to climate change, urban heat island effect or others," said B P Yadav, director, National Weather Forecasting Centre at IMD.</p>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text navbar-link pull-left">
          <span class="glyphicon glyphicon-play">
          </span>
        </div>
        <div class="navbar-text navbar-link pull-left">
          <span class="glyphicon glyphicon-eye-open">
          </span>
        </div>
        <div class="navbar-text navbar-link pull-right">
            <a href="#/profile">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </div>
    </div>
</nav>
</body>
</html>