<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.UserId}}/website/{{model.WebsiteId}}/page/{{model.PageId}}/widget" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.UpdateWidget(model.Widget)" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   ng-model="model.Widget.name"
                   class="form-control"
                   id="name"
                   placeholder="Widget Name"
                   value="Image1">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text"
                   class="form-control"
                   ng-model="model.Widget.text"
                   id="text"
                   placeholder="Widget Text"
                   value = "Scenary">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text"
                   ng-model="model.Widget.url"
                   class="form-control"
                   id="url"
                   placeholder="http://www.getimg.com/cat.jpg">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text"
                   ng-model="model.Widget.width"
                   class="form-control"
                   id="width"
                   placeholder="100%"
                   value="100%">
        </div>
        <div class="form-group">
            <label for="file">Upload</label>
            <input class="form-control btn btn-file" type="file" id="file"/>
        </div>
    </form>
    <a class="btn btn-primary btn-block" href="#"> Upload Image</a>
    <a class="btn btn-danger btn-block"
       ng-click="model.DeleteWidget()">
        Delete
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text navbar-link pull-right">
            <a href="#/user/{{model.UserId}}">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </div>
    </div>
</nav>