<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/widget-list" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand">
                Choose Widget
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.CreateWidget('HEADER')">Header</a>
        </li>
        <li class="list-group-item">
            <a>Label</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.CreateWidget('HTML')">HTML</a>
        </li>
        <li class="list-group-item">
            <a>Text Input</a>
        </li>
        <li class="list-group-item">
            <a>Link</a>
        </li>
        <li class="list-group-item">
            <a>Button</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.CreateWidget('IMAGE')">Image</a>
        </li>
        <li class="list-group-item">
            <a href="model.CreateWidget('YOUTUBE')">You Tube</a>
        </li>
        <li class="list-group-item">
            <a>Data Table</a>
        </li>
        <li class="list-group-item">
            <a>Repeater</a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text navbar-link pull-right">
            <a href="#/user/{{model.UserId}}">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </div>
    </div>
</nav>