<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3><i class="fa fa-usd" aria-hidden="true"></i>
                    Stocks
                    <a class="pull-right" href="#/user/{{model.UserId}}/portfolio/{{model.PortfolioId}}/stock/new">
                            <span class="glyphicon glyphicon-plus">
                      </span>
                    </a>
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" ng-repeat="stock in model.Stocks">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#/user/{{model.UserId}}/portfolio/{{model.PortfolioId}}/stock/{{stock._id}}"><b>{{stock.code}}</b></a>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-default btn-xs dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-expanded="true">Actions
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#/user/{{model.UserId}}/portfolio/{{model.PortfolioId}}/stock/{{stock._id}}/edit">
                                        <i class="fa fa-pencil fa-fw"></i> Edit</a>
                                </li>
                                <li>
                                    <a href="#/user/{{model.UserId}}/portfolio/{{model.PortfolioId}}/stock/{{stock._id}}/comment">
                                        <i class="fa fa-commenting fa-fw"></i> Interactions</a>
                                </li>
                                <li>
                                    <a href ng-click="model.DeleteStock(stock._id)">
                                        <i class="fa fa-remove fa-fw"></i> Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Quantity</td>
                                <td>{{stock.investmentQuantity}}</td>
                            </tr>
                            <tr>
                                <td>Investment Price</td>
                                <td>$ {{stock.investmentPrice}}</td>
                            </tr>
                            <tr ng-if="(stock.presentValue < 0)" class="red">
                                <td>Loss</td>
                                <td>$ {{stock.presentValue}}</td>
                            </tr>
                            <tr ng-if="(stock.presentValue > 0)" class="green">
                                <td>Profit</td>
                                <td>$ {{stock.presentValue}}</td>
                            </tr>
                        </table>
                        <div/>
                    </div>
                </div>
                <div class="panel-footer portfolioFooterHeight">
                    <div class="pull-right">
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{stock.investmentDate |
                        date:'MM-dd-yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>