<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">{{model.Stock.code}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder grey">
                    <h4>Low</h4>
                    <span class="text-muted red">{{model.low}}</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder grey">
                    <h4>High</h4>
                    <span class="text-muted green">{{model.high}}</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder grey">
                    <h4>Index</h4>
                    <span class="text-muted">{{model.indexValue}}</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder grey">
                    <h4>TotalMarket</h4>
                    <span class="text-muted">{{model.totalMarketValue}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"> {{model.Stock.code}}</div>
                <div class="panel-body">
                    <div id="chartContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>
