<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Edit Portfolio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.UpdatePortfolioById(model.Portfolio)">Save</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        {{model.Error}}
    </div>
    <div class="form-group">
        <label ng-if="model.Portfolio.dateCreated">Created on {{model.Portfolio.dateCreated | date:'MM-dd-yyyy'}}</label>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control {{model.SubmittedClass}}"
               ng-model = "model.Portfolio.name"
               id="name"
               placeholder="porfolio name by type/nature"
               required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
            <textarea class="form-control" rows="3"
                      ng-model="model.Portfolio.description"
                      id="description"
                      placeholder="portfolio description"></textarea>
    </div>
    <a class="btn btn-danger btn-block" ng-click="model.DeletePortfolio()">Delete</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>