<div class="container">
    <div class="page-header">
        <h3><i class="fa fa-th-large" aria-hidden="true"></i>
            Edit Portfolio
            <a class="pull-right" ng-click="model.UpdatePortfolioById(model.Portfolio)">
                <span class="glyphicon glyphicon-ok">
                      </span></a>
        </h3>
    </div>

    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        {{model.Error}}
    </div>
    <div class="form-group">
        <label ng-if="model.Portfolio.dateCreated">Created on {{model.Portfolio.dateCreated | date:'MM-dd-yyyy'}}</label>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control {{model.SubmittedClass}}"
               ng-model = "model.Portfolio.name"
               id="name"
               placeholder="porfolio name by type/nature"
               required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
            <textarea class="form-control" rows="3"
                      ng-model="model.Portfolio.description"
                      id="description"
                      placeholder="portfolio description"></textarea>
    </div>
</div>