<div class="container">
    <div class="page-header">
        <h3><i class="fa fa-th-large" aria-hidden="true"></i>
            New Portfolio
            <a class="pull-right" ng-click="model.CreateNewPortfolio(portfolio)">
                <span class="glyphicon glyphicon-ok">
                      </span></a>
        </h3>
    </div>
    <div ng-if="model.Error" class="alert alert-danger" role="alert">
        {{model.Error}}
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control {{model.SubmittedClass}}"
               ng-model = "portfolio.name"
               id="name"
               placeholder="porfolio name by type/nature"
               required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
            <textarea class="form-control" rows="3"
                      ng-model="portfolio.description"
                      id="description"
                      placeholder="portfolio description"></textarea>
    </div>
    <div class="form-group">
        <label for="date">Date</label>
            <input class="form-control" type="date"
                      ng-model="portfolio.dateCreated"
                      id="date"
                      placeholder="date of portfolio creation"/>
    </div>
</div>
