<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-user" aria-hidden="true"></i> Comments
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i>Comments
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="comment in model.Comments">
                                <div class="header">
                                    <strong class="primary-font"><a href="">{{comment.username}}</a></strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{comment.dateCreated}}
                                    </small>
                                </div>
                                <p>
                                    {{comment.post}}
                                </p>
                            <div class="hline"></div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text"
                               class="form-control input-sm"
                               placeholder="Type your comment here..."
                               ng-model="NewComment.post">

                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm"
                                    ng-click="model.CreateComment(NewComment)">Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

